@charset "UTF-8";
@import "mysite.css";

#gallery			{ margin:20px auto;	width:540px; }
#gallery ul			{ width: 100%; }


#upload-image {
	display: block;
	float: right;
 	border:  solid rgb(152, 186, 226);  
	background-color:rgb(233, 236, 245);
	padding: 5px;
	text-decoration: none;
}

#gallery h1	{
	float:left;
	background: #fff url('/mysite03/assets/images/gallery.png') no-repeat ;
	background-size: 30px ;
	padding-left: 35px;
}

#gallery ul	{ 
  	clear:both; 
}

#gallery ul li {
	width:114px;
	height:114px;
	position:relative;
	float:left; 
	overflow-y:hidden;
}

#gallery ul li a.image {
	display: block;
	width:114px;
	height:114px;
	background-size: 114px;
	background-repeat: no-repeat;
	background-position: center center;
}

#gallery ul li a.del-button {
	position:absolute;
	right:2px;
	top:3px;
	display:none;
}

#gallery ul li:hover a.del-button {
	font-size: 0;
	
	display:block;
	width:11px;
	height:11px;
	background-size: 11px;
	background-repeat: no-repeat;
	background-position: center center;
}

/* 이미지 업로드 팝업 레이어 */ 
#dialog-upload-form 					{ text-align: left; }
#dialog-upload-form p					{ padding:20px 0 5px 0; font-weight: bold; font-size:1.1em }
#dialog-upload-form label, 
#dialog-upload-form input				{ display:block; }
#dialog-upload-form label				{ font-weight:bold; margin-top:10px; }
#dialog-upload-form input				{ outline:none; margin-top:5px; }
#dialog-upload-form input[type='text']	{ padding: 5px; border:2px solid #A9A9A9; width:260px; }

